html {
    color-scheme: light dark;

    --background: #1a1a1a;
    --font-colour: #fafafa;

    @media (prefers-color-scheme: light) {
        --background: #fafafa;
        --font-colour: #1a1a1a;
    }

    color: var(--font-colour);
    background-color: var(--background);

    /* Background image */
    opacity: 1;
    background-image: radial-gradient(var(--font-colour) 0.7000000000000001px, var(--background) 0.7000000000000001px);
    background-size: 1em 1em;

    /* Give it a fancy position and make it stick when scrolling */
    background-position: center;
    background-attachment: fixed;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
}

textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

canvas {
    border-radius: 3px;
}

.doc-heading {
    font-family: "Monospace";
}

.bg-blue {
    background-color: #8888ff;
}

.bg-green {
    background-color: #88dd88;
}

.bg-red {
    background-color: #ee7777;
}

.block {
    border-radius: 15px;
    padding: 1.25em;
    margin: 0.25em;
    display: inline-block;
    box-sizing: content-box;
    min-width: 0px;
    width: 90%;
    border-color: var(--font-colour);
    border-width: 0.25em;
    border-style: solid;
}

.inner-block {
    border-radius: 15px;
    padding: 1em;
    min-width: 0px;
    width: 90%;
    border-color: var(--font-colour);
    border-width: 0.25em;
    border-style: solid;
    -webkit-backdrop-filter: saturate(125%);
    backdrop-filter: saturate(125%);
}